<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar produtos | Healthy Safely</title>
    <link rel="stylesheet" href="/css/adm/editarproduto.css" />
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
  </head>

  <body>
    <%- include("../../partials/header") %>
    <!---->
    <%- include('../../partials/menu-inferior.ejs') %>

    <div class="admin-container">
      <!-- Sidebar -->
      <%- include('../../partials/adm/sidebar-loja.ejs') %>
      <!-- Main -->
      <main class="admin-main">
        <h1>Editar Produtos</h1>

        <!-- Lista de produtos -->
        <section class="produtos-destaque">
          <article class="produto-card">
            <img
              src="/imagem/whey.png"
              alt="Whey Protein"
              class="produto-img"
            />
            <h2 class="produto-nome">Whey Protein</h2>

            <div class="preco-container">
              <p class="produto-preco-original">R$ 89,99</p>
              <p class="produto-preco">R$ 71,99</p>
              <span class="desconto">20%</span>
            </div>

            <div class="produto-acoes">
              <button class="btn-editar">Editar</button>
              <button class="btn-excluir">Excluir</button>
            </div>
          </article>
        </section>
      </main>
    </div>

    <!--FOOTER-->
    <%- include("../../partials/footer") %>
    <!---->
  </body>
</html>
