<html>
  <head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/colaborador.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <!-- Lado esquerdo-->
      <section class="lado-esquerdo"></section>

      <!-- Lado direito com formulário -->
      <section class="lado-direito">
        <article class="container">
          <div class="cabecalho-form">
            <h1>Cadastro de Colaborador</h1>
            <p>Escolha o tipo de colaborador que deseja cadastrar:</p>
          </div>
          <!-- Botões para escolher tipo de colaborador -->
          <div class="seletor-cadastro">
            <button
              type="button"
              id="btnFarmacia"
              class="ativo"
              onclick="mostrarFormulario('farmacia')"
            >
              Sou uma Farmácia
            </button>
            <button
              type="button"
              id="btnProfissional"
              onclick="mostrarFormulario('profissional')"
            >
              Sou um Profissional
            </button>
          </div>

          <!-- Formulário para farmácia (visível por padrão) -->
          <form
            id="formFarmacia"
            class="quadrado"
            method="POST"
            action="/cadastroColaborador/farmacia"
          >
            <h3>Dados da Farmácia</h3>
            <input
              type="text"
              name="nome_farmacia"
              placeholder="Nome da farmácia"
              required
            />
            <input type="text" name="cnpj" placeholder="CNPJ" required />
            <input
              type="text"
              name="responsavel"
              placeholder="Responsável"
              required
            />
            <input type="text" name="cidade" placeholder="Cidade" required />
            <input type="text" name="estado" placeholder="Estado" required />
            <input
              type="url"
              name="instagram"
              placeholder="Instagram ou site"
            />
            <input type="email" name="email" placeholder="E-mail" required />
            <input type="password" name="senha" placeholder="Senha" required />
            <input
              type="password"
              name="confirmarsenha"
              placeholder="Confirmar Senha"
              required
            />

            <button type="submit" class="cadastrar-profissional">
              Cadastrar Farmácia
            </button>
          </form>

          <!-- Formulário para profissional (invisível por padrão) -->
          <form
            id="formProfissional"
            class="quadrado hidden"
            method="POST"
            action="/cadastroColaborador/profissional"
          >
            <h3>Dados do Profissional</h3>
            <input
              type="text"
              name="nome"
              placeholder="Nome completo"
              required
            />

            <select name="profissao" required>
              <option value="">Profissão</option>
              <option value="medico">Médico</option>
              <option value="nutricionista">Nutricionista</option>
              <option value="educador">Educador Físico</option>
              <option value="outro">Outro</option>
            </select>
            <input
              type="text"
              name="registro"
              placeholder="CRM / CRN / CREF"
              required
            />
            <input
              type="text"
              name="especialidade"
              placeholder="Especialidade (opcional)"
            />
            <br />
            <select name="atende_online">
              <option value="sim">Atende online</option>
              <option value="nao">Não atende online</option>
            </select>
            <input
              type="tel"
              name="whatsapp"
              placeholder="WhatsApp profissional"
            />
            <input type="email" name="email" placeholder="E-mail" required />
            <input type="password" name="senha" placeholder="Senha" required />
            <button type="submit" class="cadastrar-profissional">
              Cadastrar Profissional
            </button>
          </form>
        </article>
      </section>
    </main>

    <script>
      function mostrarFormulario(tipo) {
        const formFarmacia = document.getElementById("formFarmacia");
        const formProfissional = document.getElementById("formProfissional");

        const btnFarmacia = document.getElementById("btnFarmacia");
        const btnProfissional = document.getElementById("btnProfissional");

        if (tipo === "farmacia") {
          formFarmacia.classList.remove("hidden");
          formProfissional.classList.add("hidden");
          btnFarmacia.classList.add("ativo");
          btnProfissional.classList.remove("ativo");
        } else {
          formProfissional.classList.remove("hidden");
          formFarmacia.classList.add("hidden");
          btnProfissional.classList.add("ativo");
          btnFarmacia.classList.remove("ativo");
        }
      }
    </script>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
