<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/privacidade.css" />
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
    <title>Loja</title>
  </head>
</html>
<body>
  <%- include('../partials/header.ejs') %>

  <main class="container">
    <!-- Coluna lateral -->
    <aside class="sidebar">
      <h1>Sobre o site</h1>
      <br />
      <ul>
        <li class="active" data-target="duvidas">Dúvidas</li>
        <li data-target="privacidade">Política de Privacidade</li>
        <li data-target="termos">Termos de uso</li>
        <li data-target="acessibilidade">Acessibilidade</li>
        <li data-target="contato">Contato</li>
        <li data-target="sobre">Sobre Nós</li>
      </ul>
    </aside>

    <!-- Conteudos ao clicar -->
    <section class="content">
      <div id="duvidas" class="content-box active">
        <h2>Dúvidas</h2>
        <p>Como comprar? Aqui explicamos como realizar a compra...</p>
      </div>

      <div id="privacidade" class="content-box">
        <h2>Política de Privacidade</h2>
        <p>Veja como tratamos seus dados e garantimos sua privacidade.</p>
        <p>
          Coleta de Dados: Coletamos apenas as informações necessárias para
          personalizar sua experiência, como nome, e-mail e preferências de
          saúde.
        </p>
        <p>
          Uso dos Dados: Utilizamos os dados para fornecer recomendações
          personalizadas e melhorar nossos serviços. Nunca vendemos suas
          informações a terceiros.
        </p>
        <p>
          Segurança: Utilizamos tecnologia de criptografia para garantir que
          seus dados estejam seguros.
        </p>
        <p>
          Consentimento: Os usuários podem controlar quais informações
          compartilham e solicitar a exclusão de seus dados a qualquer momento.
          Nosso compromisso é garantir que seus dados estejam protegidos e que
          você tenha controle sobre suas informações.
        </p>
        <h1>Avisos importantes</h1>
        <p>
          Os nossos sites são direcionados a maiores de 18 (dezoito) anos. Ao se
          cadastrar na Plataforma de E-commerce, você declara ser maior de 18
          (dezoito) anos. Caso você seja menor de 18 (dezoito) anos, você não
          poderá se cadastrar na Plataforma, pois não coletamos dados, nem mesmo
          para registro de menores.
        </p>
      </div>

      <div id="termos" class="content-box">
        <h2>Termos de uso</h2>
        <p>.....</p>
      </div>

      <div id="acessibilidade" class="content-box">
        <h2>Acessibilidade</h2>
        <p>No Healthy Safely priorizamos.....</p>
      </div>

      <div id="contato" class="content-box">
        <h2>Contato</h2>
        <p>11 99999-9999 ......</p>
      </div>

      <div id="sobre" class="content-box">
        <h2>Sobre nós</h2>
        <p>O Healthy Safely é uma .....</p>
      </div>
    </section>
  </main>

  <script>
    const menuItems = document.querySelectorAll(".sidebar li");
    const contentBoxes = document.querySelectorAll(".content-box");

    menuItems.forEach((item) => {
      item.addEventListener("click", () => {
        menuItems.forEach((i) => i.classList.remove("active"));
        item.classList.add("active");

        contentBoxes.forEach((box) => box.classList.remove("active"));

        const targetId = item.getAttribute("data-target");
        document.getElementById(targetId).classList.add("active");
      });
    });
  </script>
  <%- include('../partials/footer.ejs')%>
</body>
<!-- Coleta
de Dados: Coletamos apenas as informações necessárias para personalizar sua
experiência, como nome, e-mail e preferências de saúde. Uso dos Dados:
Utilizamos os dados para fornecer recomendações personalizadas e melhorar nossos
serviços. Nunca vendemos suas informações a terceiros. Segurança: Utilizamos
tecnologia de criptografia para garantir que seus dados estejam seguros.
Consentimento: Os usuários podem controlar quais informações compartilham e
solicitar a exclusão de seus dados a qualquer momento. Nosso compromisso é
garantir que seus dados estejam protegidos e que você tenha controle sobre suas
informações. -->
