<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sono.css">
    <title>Sono</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <section class="tarefa-container">
        <section class="texto">
       <article class="lua">
        <img src="../imagem/lua.png" alt="">
        <h3>SONO DE QUALIDADE</h3>
    </article>
    </section>
    </section>




    <%- include('../partials/footer.ejs') %>
</body>
</html>