<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sono.css">
    <title>Sono</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <section class="geral">

    <section class="tarefa-container">
        <article class="lua">
        <img src="../imagem/lua.png" alt="">
         </article>
         <h3>SONO DE QUALIDADE</h3>
         
    </section>
    </section>



     <section class="footer">
    <%- include('../partials/footer.ejs') %>
    </section>
    
</body>
</html>