<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <link rel="stylesheet" href="../css/tarefas.css">
</head>
<body>
     <%- include('../partials/header.ejs') %>

     <section class="bannerdetarefa">
        <img src="../imagem/tarefa.png" alt="tarefasbanner" class="confiratarefas">
     </section>
     <main class="tarefassas">
        <section class="suastarefas">
        <h1 class="st">SUAS TAREFAS</h1>
        </section>
     </main>
      <section class="tarefas-container">
         <section class="blocodetarefas">
            <img src="../imagem/image.png" alt="tarefinhas" class="tarefão">
         </section>
      </section>

</body>
</html>