<link rel="stylesheet" href="/css/header.css" />
<%- include('../partials/menu-inferior.ejs') %> <!-- MENU INFERIOR-->

<%
  const configHref = usuario && usuario.tipo === "profissional"
    ? "/profissional/configuracoes"
    : "/configuracoes";
%>

<header class="site-header">
 <% if (!usuario || usuario.tipo === "cliente") { %>
  <nav
    class="header-nav2"
    id="mobileNav"
    aria-label="Menu principal do site Healthy Safely"
  >
    <article class="nav-spacer">
      <a href="/tasks">Tarefas</a>
      <a href="/amizades">Amizades</a>
      <a href="/perfil">Perfil</a>
    </article>

    <article class="nav-spacer">
      <a href="/notificacoes">Notificações</a>
      <a href="/configuracoes">Configurações</a>
      <a href="/ajuda">
        <i class="bi bi-info-circle"></i> Ajuda
      </a>
    </article>
  </nav>
<% } %>

  <!-- PARTE VISUAL DO HEADER -->
  <section class="header-container">
    <a
      href="/"
      class="header-logo"
      aria-label="Página inicial da Healthy Safely"
    >
      <img
        src="/imagem/1x/logozeko.png"
        alt="Healthy Safely - Plataforma de hábitos saudáveis"
      />
    </a>

    <nav class="header-actions" aria-label="Ações do usuário">

     <% if (usuario) { %>
      <section class="user-menu cliente" aria-label="Menu de notificações">
        <a href="/notificacoes" aria-label="Ir para notificações" class="notificacoes-mobile">
          <i class="bi bi-bell" aria-hidden="true"></i>
        </a>
      </section>
      <% } %>

      <!-- LOGIN / PERFIL -->
      <section class="user-menu cliente">
        <% if (usuario) { %>
          <a href="<%= configHref %>" aria-label="Ir para configurações" class="notificacoes-mobile">
              <i class="bi bi-gear" aria-hidden="true"></i>
            </a>
          <a href="/perfil" aria-label="Ir para perfil" class="mobile">
            <i class="bi bi-person-circle logado" aria-hidden="true"></i>
          </a><span class="header-welcome">
            Olá, <strong><%= usuario.nome.split(' ')[0] %></strong>!
          </span>
        <% } else { %>
          <section class="logar-cadastrar">
            <a href="/perfil" aria-label="Ir para perfil">
              <i class="bi bi-person-circle" aria-hidden="true"></i>
            </a>

            <a href="/login" class="abrir">Entrar</a>
            <span> | </span>
            <a href="/cadastro" class="abrir-cadastro">Cadastrar</a>
          </section>
        <% } %>
      </section>
    </nav>
  </section>
</header>


