<html>
  <head>
    <title>Healthy safely</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="icon" href="../imagem/logo 3.png" type="image/x-icon" />
  </head>

  <body>
    <!--Script de encaminhamento depois de 3 segundo para a proxima pagina caso login esteja correto-->
    <% if (sucesso === true) { %>
    <script>
      setTimeout(() => {
        window.location.href = "/tela-inicial";
      }, 1500);
    </script>
    <% } %>
    <!---->

    <article class="banner">
      <header>
        <nav class="navbar">
          <a href="/safely" class="logo"
            ><img
              src="../imagem/logo 4.png"
              height="100px"
              width="120px"
              class="logo"
          /></a>
          <h3 class="serviço">
            Para utilizar os serviços do nosso site é necessário login ou
            cadastro!
          </h3>
        </nav>
      </header>

      <main>
        <nav class="conteudo">
          <form action="/login" method="post" class="quadrado">
            <article>
              <h1>Login</h1>
              <br />
              <label for="usuarioDigitado">Endereço de email</label>
              <input
                type="text"
                id="usuarioDigitado"
                name="usuarioDigitado"
                class="digitarusuario <%= erro ? 'erro' : '' %>"
              />
            </article>
            <br />
            <article>
              <label for="senhaDigitada">Senha</label>
              <input
                type="password"
                id="senhaDigitada"
                name="senhaDigitada"
                class="digitarsenha <%= erro ? 'erro' : '' %>"
              />
            </article>
            <% if (erro) { %><span class="msgErro"><%= erro %></span> <% } %>

            <br />
            <h4 class="cadastro">
              Não possui uma conta? <a href="/cadastro">Crie uma conta</a>
            </h4>
            <button type="submit" id="btnClique">Acessar</button>
          </form>

          <% if (sucesso) { %>
          <nav class="sucesso-mensagem">
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <div>Login realizado com sucesso! Redirecionando...</div>
            <article class="barra"><div class="barra-progresso"></div></article>
          </nav>
          <%} %>
        </nav>
      </main>
    </article>
  </body>
</html>
