/* =============== RESET =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
main {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* =============== CARD(geral) =============== */
.card {
  background-color: #0c4f43;
  color: white;
  padding: 20px;
  width: 1000px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* =============== Título(geral) =============== */
.titulo {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

/* =============== PROGRESSO(barrinhas, geral) ===============*/
.progresso {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.progresso span {
  flex: 1;
  height: 4px;
  background-color: #1c6b5a;
  border-radius: 4px;
}
.progresso .ativo {
  background-color: #8ca700;
}

/* =============== Beneficiário(agendamento1) =============== */
.beneficiario {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  text-align: center;
}
h4 {
  font-size: 1.5rem;
}
.card {
  font-size: 1.2rem;
}
.icone {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.nome {
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bold;
}
/* contato-info */
.contato {
  background-color: #1c6b5a;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.contato i {
  cursor: pointer;
}
.contato p {
  margin-bottom: 8px;
  font-size: 0.95rem;
}
.contato a {
  color: #b0e4d6;
  text-decoration: none;
}
/* Confirmação (texto) */
.confirmacao h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}
.confirmacao p {
  font-size: 0.9rem;
  line-height: 1.3;
  margin-bottom: 20px;
}

/* =============== Especialidades(agendamento2) ===============*/
.especialidades {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin-top: 15px;
}
.especialidades .botao {
  padding: 12px 15px;

  border-radius: 8px;
  border: 2px solid #0c4f43;
  background: #145c4f;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}
.especialidades .botao:hover {
  background: #145c4f;
}
.especialidades .botao.active {
  background: white;
  color: #145c4f;
}

/* =============== LISTA DE MÉDICOS(agendamento3) =============== */
.lista-medicos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}
.card-medico {
  background: #1c6b5a;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.card-medico .info {
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}
.card-medico .icone {
  width: 40px;
  height: 40px;
  background: #0c4f43;
  border-radius: 50%;
}
.card-medico h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}
.card-medico p {
  font-size: 0.9rem;
  color: #e0e0e0;
}

/* Botão agendar */
.btn-agendar {
  align-self: center;
  background: #8ca700;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btn-agendar:hover {
  background: #8ca700;
}

/* =============== Confirmação do médico escolhido(agendamento4) =============== */
.consulta-escolhida {
  border-radius: 8px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px 0;
}
.consulta-escolhida .info {
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Botão finalizar */
.finalizar {
  background-color: #8ca700;
  transition: background 0.3s;
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}
.finalizar:hover {
  background-color: #8ca700;
}

/* =============== Botão padrão (avançar, geral) =============== */
.voltar-avancar {
  display: flex;
  flex-direction: row;
}
.avancar {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: #1c6b5a;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}
.avancar:hover {
  background-color: #145c4b;
}
