/* RESET E ESTILOS BASE */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #092520;
  overflow-x: hidden; /* impede scroll horizontal */
}

/* CONTAINER PRINCIPAL */
main {
  color: black;
  background: white;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* BOTAO VOLTAR */
.voltar {
  background: #014638;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

/* EXPLICAÇÃO DE COMO FUNCIONA A DOAÇÃO */
.doacao-text {
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: baseline;
  font-size: 1.8rem;
  margin-top: 10px;
  padding: 1vh;
}
p {
  margin-bottom: 20px;
}
.passos {
  margin: 0;
  padding: 0;
  list-style: none;
}
.passos li {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 5px solid #014638;
  background: #f9fafc;
  border-radius: 8px;
}
.passos li strong {
  color: #014638;
}

/* FORMULARIO */
form {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  padding: 30px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-esquerdo {
  width: 100%;
  margin-right: 40px;
  padding: 1vh;
  display: flex;
  flex-direction: column;
}
.form-direito {
  width: 100%;
  padding: 1vh;
  display: flex;
  flex-direction: column;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 10px;
}
legend {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
label {
  font-size: 1rem;
}
input,
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}
textarea {
  resize: none;
}
.inputs-duplos {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* BOTOES FORM */
.botoes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.avançar {
  background: #2e7d32;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}
.avançar:hover {
  background: #256629;
}
.cancelar {
  background: #d32f2f;
  color: white;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}
.cancelar:hover {
  background: #b71c1c;
}

/* ================== RESPONSIVIDADE ========================= */
@media (max-width: 1000px) {
  .container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
