/* Definição de variáveis CSS para cores e estilos reutilizáveis EM TODO O SITE */
:root {
  --primary-color: #fff; /* Branco (60% do site) */
  --secondary-color: #0c4f43; /* Verde Escuro (30% do site)   */
  --accent-color: #8ca700; /* Verde grama (10% do site) */
  --background-light: #f7f9fb; /* Branco claro para Titulos */
  --background-dark: #dde2e7; /* Branco escuro para textos */
  --shadow-subtle: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-hover: 0 8px 20px rgba(0, 0, 0, 0.15);
  --border-radius: 12px;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* ============ CONTAINER PRINCIPAL ============ */
.footer {
  background: #17594a;
  color: white;
  padding: 40px 20px 50px;
  border-top: 4px solid #052205;
  font-family: Arial, sans-serif;
  margin-top: 25%;
}

/* ============ CONTAINER DOS TEXTOS ============ */
.footer-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.footer-text h1 {
  font-size: 23px;
  color: var(--background-light);
  border-left: 4px solid var(--accent-color);
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 5px;
}
.footer-text p {
  font-size: 15px;
  color: var(--background-dark);
  line-height: 1.5;
  margin-bottom: 10px;
}

/* ============ CONTAINER DAS COLUNAS ============ */
.footer-col {
  display: flex;
  gap: 120px;
}
.footer-col h1 {
  font-size: 15px;
  color: var(--background-light);
  border-left: 4px solid var(--accent-color);
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 5px;
}
.footer-col p {
  font-size: 13px;
  color: var(--background-dark);
  line-height: 1.5;
  margin-left: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}
.footer-col p:hover {
  color: var(--accent-color);
}
.footer-col .payments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 150px;
}
.footer-col img {
  max-height: 30px;
  width: auto;
  margin-top: 10px;
}

/* ============ CONTAINER DO RODAPÉ ============ */
.footer-bottom {
  text-align: center;
  margin-top: 70px;
  font-size: 18px;
  color: var(--background-dark);
  margin-bottom: 30px;
}

/* ============ RESPONSIVIDADE ============ */
@media (max-width: 1024px) {
  .footer-text h1 {
    font-size: 18px;
  }
  .footer-col {
    gap: 80px;
  }
  .footer-col h1 {
    font-size: 13px;
  }
  .footer-col p {
    font-size: 11px;
  }
  .footer-col img {
    max-height: 25px;
  }
  .footer-bottom {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .footer-text h1 {
    font-size: 15px;
  }
  .footer-col {
    gap: 10px;
  }
  .footer-col h1 {
    font-size: 15px;
  }
  .footer-col p {
    font-size: 13px;
  }
  .footer-col img {
    max-height: 20px;
  }
  .footer-bottom {
    font-size: 14px;
  }
}
@media (max-width: 510px) {
  .footer-text h1 {
    font-size: 15px;
  }
  .footer-col {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
  }
  .footer-bottom {
    font-size: 12px;
  }
}
