/* Importação de fonte mais moderna */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* CORES GERAIS DO SITE (modo claro)*/
  --primary-color: #fff; /* 60% */
  --secondary-color: #0c4f43; /* 30% */
  --accent-color: #1a8a75; /* 10% */

  /* CORES PARA TEXTOS E BOTOES */
  --fundoclaro: #0c4f43; /* Verde escuro para textos com fundo claro */
  --fundoescuro: #dde2e7; /* Branco para textos com fundo escuro */
  --botao: #0c4f43; /* Verde escuro para botoes */
  --botao-hover: #0c4f43; /* Verde grama para hover de botoes */
  --muted: #64748b; /* Cinza para textos de ajuda ou exemplificação */

  /* FONTE DE TEXTOS E ICONES */
  --font-title: 20px;
  --font-text: 13px;
  --font-icon: 15px;
  --small-text: 10px;

  /* TAMANHO DE BORDAS E BOTOES */
  --border: rgba(15, 23, 42, 0.08);
  --border-radius: 12px;
  --animacao: translateY(-2px); /* somente hover */
  --botao-opacity: 0.95; /* somente hover */
}
html.dark body {
  /* CORES GERAIS DO SITE (modo escuro) */
  --primary-color: #272b36; /* 60% */
  --secondary-color: #272c36; /* 30% */
  --accent-color: #1a8a75; /* 10% */

  /* CORES PARA TEXTOS E BOTOES */
  --fundoclaro: #dde2e7; /* Branco para textos no geral */
  --fundoescuro: #dde2e7; /* Branco para textos no geral */
  --botao: #313744;

  /* TAMANHO DE BORDAS, E SUAS CORES */
  --border: rgba(243, 244, 247, 0.329);
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: var(--primary-color);
  line-height: 1.6;
  height: 70vh;
}
