/* RESET */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
  color: black;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  overflow: hidden;
}

/* TOPO */
.titulo-identidade {
  background-color: white;
  color: #0c4f43;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  width: 100%;
  box-sizing: border-box;
  text-align: start;
  margin-bottom: 20px;
}
.titulo-identidade h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.botao-prev {
  background: none;
  color: #0c4f43;
  border: none;
  font-size: 1.5rem;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
}

/* INFO DENTRO DO MODAL (informações de identidade) */
.info-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.info-modal div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
}
.info-modal i {
  color: #0c4f43;
  font-size: 18px;
}
.info-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0c4f43;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s, transform 0.2s;
}
.info-content button:hover {
  background-color: #00594c;
  transform: translateY(-2px);
}
.info-content button:active {
  background-color: #004036;
  transform: translateY(0);
}

.centro-modal {
  display: flex;
  justify-content: center;
}

.voltar {
  background: #014638;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

/* BOTÕES DE SAIR DENTRO DO MODAL (mudar de conta / sair ) */
.acoes-identidade {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
.salvar {
  background-color: #0c4f43;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
.cancelar {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.consulta-escolhida {
  border-radius: 8px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px 0;
}
.consulta-escolhida .info {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between; /* empurra preço para direita */
  gap: 12px;
}
.consulta-escolhida .icone img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.consulta-escolhida .detalhes {
  flex: 1;
}
.consulta-escolhida h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: black;
}
.consulta-escolhida h3 span {
  font-size: 0.9rem;
  font-weight: normal;
  color: black;
}
.consulta-escolhida .horario {
  font-size: 0.95rem;
  color: black;
}
.consulta-escolhida .preco {
  text-align: right;
  min-width: 120px;
}
.consulta-escolhida .valor {
  font-size: 1rem;
  font-weight: bold;
  color: #0c4f43;
  background-color: #ffeb3b;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 4px;
}
.consulta-escolhida .parcelado {
  font-size: 0.85rem;
  color: black;
}
.finalizada-chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.andamento {
  background-color: #008000;
  transition: background 0.3s;
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}
.finalizada {
  background-color: red;
  transition: background 0.3s;
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}
.chat {
  background-color: #8ca700;
  transition: background 0.3s;
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}
