* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* CONTAINER PRINCIPAL */
.container {
  max-width: 1060px;
  margin: 24px auto;
  background-color: #0c4f43;
  padding: 10px;
  border-radius: 15px;
}

/* TOPO DO CONTAINER */
.topo {
  width: min(760px, 100% - 32px);
  margin: 24px auto;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 15px;
  background-color: #0c4f43;
}
.topo h1 {
  font-size: 2.5rem;
}
.topo p {
  font-size: 1.5rem;
}

/* TITULO DOS GRAFICOS */
.titulo-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.titulo-info h2 {
  margin: 0;
  font-size: 18px;
}
.titulo-info i {
  font-size: 18px;
  cursor: pointer;
}

/* CONTAINER DO GRAFICO */
.grafico-horas {
  width: min(760px, 100% - 32px);
  margin: 24px auto;
}
.grafico-container {
  display: flex;
  align-items: flex-end;
  height: 245px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  max-width: 700px;
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
}

/* LINHA DO GRAFICO */
.linha {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  left: 0;
  padding-left: 5px;
}
.linha::after {
  content: "";
  flex: 1;
  border-top: 1px dashed #ccc;
}
.linha span {
  width: 40px;
  text-align: left;
  font-size: 12px;
  color: white;
}
.linha.recomendada::after {
  border-top: 1px dashed #4caf50; /* linha verde */
}

/* BARRA AZUL QUANDO ADICIONA ALGUM VALOR */
.linha[data-h="12"] {
  bottom: 100%; /*Isso significa que a barra azul tera 100% de tamanho apartir do bottom e outros calculos ai kkkk*/
}
.linha[data-h="10"] {
  bottom: 83.33%; /*Mesma coisa para os seguintes..*/
}
.linha[data-h="8"] {
  bottom: 66.66%;
}
.linha[data-h="6"] {
  bottom: 50%;
}
.linha[data-h="4"] {
  bottom: 33.33%;
}
.linha[data-h="2"] {
  bottom: 16.66%;
}
.linha[data-h="0"] {
  bottom: 0;
}
.barra {
  width: 60px;
  background-color: #1ca8ff;
  border-radius: 4px 4px 0 0;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  transition: height 0.3s ease;
  cursor: default;
}
.label {
  margin-top: 6px;
  font-size: 14px;
  color: white;
}

/* BOTÕES */
.input-area {
  max-width: 700px;
  display: flex;
  gap: 10px;
  align-items: center;
}
input[type="number"] {
  width: 120px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline-offset: 2px;
  outline-color: #4caf50;
}
button {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #3a9d3a;
}

/* PAGINA DE ORIENTAÇÕES */
.orientacao {
  width: min(760px, 100% - 32px);
  margin: 24px auto;
  text-align: center;
}
