*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Inicio Header*/
.imagem-de-fundo{
    width: 100%;
    height: 120vh;
    
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    height: 5%;
    padding: 30px 0;
    display: flex;
    border-bottom: 2px solid black;
    background-color: rgb(7, 136, 110);
}
.logo{
    transform: translateY(-20%);
    margin-left: 17%;
    cursor: pointer;
   
}

.healthysafely h2{
    color: white;
    font-size: 35px;
    margin-left: 20px;
}
.healthysafely h3{
    color: rgb(32, 230, 65);
    margin-left: 85px;
}


    /*Inicio MENU*/
    nav.menu-lateral{
    width: 80px;
    height: 20px;
    padding: 15px 0 40px 1%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;

    z-index: 1000;

}
    nav.menu-lateral:hover{
    width: 300;
    height: 90vh;
    background-color: rgba(1, 70, 56, 1);
    padding: 30px 0 30px 1%;
}
    .btn-expandir{
    width: 100%;
    padding-left: 10px;
}
    .btn-expandir i{
    color: white;
    font-size: 70px;
    cursor: pointer;
}
    ul{
    height: 100%;
    list-style-type: none;
}
    ul li.item-menu{
    transition: .1.5s;
}
    ul li.item-menu:hover{
    background-color: rgba(18, 94, 77, 0.9);
}
    ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}
    ul li.item-menu a .txt-link{
    margin-left: 30px;
}
    ul li.item-menu a .icon > i{
    font-size: 40px;
    margin-left: 10px;
}
    ul h3{
    color: white;
}
    /*Término MENU*/

    /*inicio menu-profile*/
    .menu-profile{
        color: white;
        padding: 0px 0px 0px 45%;
        transform: translateY(-15px);
        font-size: 70px; 
    }
    /*Término menu-profile*/

    /*Inicio lupa-buscar*/
    .barra-de-pesquisa{
        width: 100%;
        float: left;
        padding: 30px 0 0 0;
        background-color: rgba(1, 70, 56, 0.9);
        height: 15%;
        display: flex;
    } 
    .buscar-box{
        width: 500px;
        height: 80px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: relative;
        left: 25%; 
    }
    .buscar-box .lupa-buscar{
        width: 70px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .buscar-box .lupa-buscar i{
        color: white;
        font-size: 50px;
    }
    .buscar-box .input-buscar{
        align-content: center;
        padding: 0 0 0 40px;
        left: 70px;
        width: 100%;
        height: 100%;
        line-height: 60px;
    }
    .buscar-box .input-buscar input{
        width: 400px;
        height: 40px;
        border: 0;
        outline: 0;
        font-size: 30px;
    
    }


    
/*Término Header*/

/*Inicio main*/

.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    left: 50px;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

main .img {
    width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: -10px;
}

.next {
    right: 10px;
}
