<header>
    <article class="navbar">
        <a href="/safely" class="logo">
            <img src="../imagem/logo 4.png" height="120px" width="130px" class="logo">
        </a>
        <h3 class="serviço">Para utilizar os serviços do nosso site é necessário login ou cadastro!</h3>
        <div>
            <a href="/cadastro"><h4 class="cadastrar">Cadastrar</h4></a>
            <a href="/login"><h4 class="logar">Logar</h4></a>
        </div>               
    </article