<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agendar consulta</title>
    <link rel="stylesheet" href="../css/agendamento.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>

    <main>
      <section class="card">
        <h2 class="titulo">Agendar consulta</h2>

        <!-- Barra de progresso -->
        <div class="progresso">
          <span class="ativo"></span>
          <span class="ativo"></span>
          <span class="ativo"></span>
          <span class="ativo"></span>
        </div>

        <h2>Confirmação do agendamento</h2>

        <!-- Consulta escolhida -->
        <div class="consulta-escolhida">
          <div class="info">
            <div class="icone">
              <img src="../imagem/ortopedista.png" width="40px" height="40px" />
            </div>
            <div>
              <h3>DR. ALISON (Nutricionista)</h3>
              <p>Horário: 16:00 P.M — 04/04/2048</p>
            </div>
          </div>
        </div>

        <div class="confirmacao">
          <h3>Quase lá!</h3>
          <p>Deseja marcar esta consulta?</p>
        </div>

        <article class="voltar-avancar">
          <button
            class="avancar"
            onclick="window.location.href=`/agendamento3`"
          >
            voltar
          </button>
          <button
            class="finalizar"
            onclick="window.location.href=`/minhasconsultas`"
          >
            finalizar agendamento
          </button>
        </article>
      </section>
    </main>

    <!--FOOTER-->
    <%- include('../partials/footer.ejs') %>
    <!---->
  </body>
</html>
