<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agendar consulta</title>
    <link rel="stylesheet" href="../css/agendamento.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>
    <main>
      <section class="card">
        <h2 class="titulo">Agendar consulta</h2>

        <!-- Barra de progresso -->
        <div class="progresso">
          <span class="ativo"></span>
          <span class="ativo"></span>
          <span></span>
          <span></span>
        </div>

        <h4>Escolha uma especialidade</h4>

        <!-- Especialidades -->
        <ul class="especialidades">
          <li class="botao active">Clínico Geral / Medicina da Família</li>
          <li class="botao">Psicologia</li>
          <li class="botao">Cardiologia</li>
          <li class="botao">Nutricionista</li>
          <li class="botao">Fonoaudiologia</li>
          <li class="botao">Dermatologia</li>
        </ul>

        <article class="voltar-avancar">
          <button
            class="avancar"
            onclick="window.location.href=`/agendamento1`"
          >
            voltar
          </button>
          <button
            class="avancar"
            onclick="window.location.href=`/agendamento3`"
          >
            Avançar
          </button>
        </article>
      </section>
    </main>
    <!--FOOTER-->
    <%- include('../partials/footer.ejs') %>
    <!--FOOTER-->

    <!--SCRIPT PARA A COLORAÇÃO DOS BOTOES DAS ESPECIALIDADES-->
    <script>
      // Pega todos os botões
      const botoes = document.querySelectorAll(".especialidades .botao");

      botoes.forEach((btn) => {
        btn.addEventListener("click", () => {
          // remove a classe active de todos
          botoes.forEach((b) => b.classList.remove("active"));
          // adiciona no clicado
          btn.classList.add("active");
        });
      });
    </script>
    <!---->
  </body>
</html>
