<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agendar consulta</title>
    <link rel="stylesheet" href="../css/agendamento.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>

    <main>
      <section class="card">
        <h2 class="titulo">Agendar consulta</h2>

        <!-- Barra de progresso -->
        <div class="progresso">
          <span class="ativo"></span>
          <span class="ativo"></span>
          <span class="ativo"></span>
          <span class="ativo"></span>
        </div>

        <h4>Confirmação do agendamento</h4>

        <!-- Consulta escolhida -->
        <div class="consulta-escolhida">
          <div class="info">
            <!-- Ícone -->
            <div class="icone">
              <img
                src="../imagem/ortopedista.png"
                width="50"
                height="50"
                alt="Ícone especialista"
              />
            </div>

            <!-- Dados do médico -->
            <div class="detalhes">
              <h3>Dr. Alison <span>(Nutricionista)</span></h3>
              <p class="horario">Horário: 16h00 — 04/04/2048</p>
            </div>

            <!-- Preço -->
            <div class="preco">
              <p class="valor">R$ 100,00</p>
              <p class="parcelado">ou 2x de <strong>R$ 49,99</strong></p>
            </div>
          </div>
        </div>

        <article class="voltar-avancar">
          <button
            class="avancar"
            onclick="window.location.href=`/agendamento3`"
          >
            voltar
          </button>
          <button
            class="finalizar"
            onclick="window.location.href=`/minhasconsultas`"
          >
            Ir para pagamento
          </button>
        </article>
      </section>
    </main>

    <!--FOOTER-->
    <%- include('../partials/footer.ejs') %>
    <!---->
  </body>
</html>
