<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/alimentacao.css" />
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
    <title>Alimentação</title>
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/menu-inferior.ejs') %>

    <main class="conteudo">
      <section class="tarefa-container">
        <header class="tarefa-topo">
          <img src="../imagem/alimentacao.png" class="alimentacao-img" alt="Alimentação" />
          <h3>META DIÁRIA</h3>
        </header>

        <article class="tarefa-texto">
          CONSUMA EM MÉDIA TODOS OS DIAS 3,7 LITROS DE ÁGUA POR DIA POR 2 SEMANAS.<br />
          VEJA OS RESULTADOS E FAÇA SEU RELATÓRIO AO FINAL DO EXPERIMENTO
        </article>

        <footer class="tarefa-bottom">
          <section class="tarefa-porcentagem">0% CONCLUÍDA</section>
          <section class="tarefa-botao-area">
            <button class="tarefa-botao">INICIAR</button>
          </section>
        </footer>
      </section>

      <section class="tarefas-section">
        <header class="tarefas-header">
          <h1 class="titulo-tarefas">SUAS TAREFAS</h1>
        </header>

        <section class="tarefas-container">
          <section class="iconestarefas">
            <article class="tarefa-item">
              <a href="sono">
                <img src="../imagem/sono.png" alt="Sono" />
                <h3>SONO</h3>
              </a>
            </article>
            <article class="tarefa-item">
              <a href="saudemen">
                <img src="../imagem/saudemental.png" alt="Saúde Mental" />
                <h3>SAÚDE MENTAL</h3>
              </a>
            </article>
            <article class="tarefa-item">
              <a href="atividadefis">
                <img src="../imagem/atf.png" alt="Atividade Física" />
                <h3>ATIVIDADE FÍSICA</h3>
              </a>
            </article>
            <article class="tarefa-item">
              <a href="alimentacao">
                <img src="../imagem/alimentacao.png" alt="Alimentação" />
                <h3>ALIMENTAÇÃO</h3>
              </a>
            </article>
          </section>

          <article class="tarefa-item outros">
            <a href="#">
              <img src="../imagem/outros.png" alt="Outros" />
              <h3>OUTROS</h3>
            </a>
          </article>
        </section>
      </section>
    </main>

    <footer class="footer">
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
</html>

