<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doação</title>
    <link rel="stylesheet" href="/css/doacao.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>
    <main>
      <!--Botao de voltar-->
      <a href="/tomarammeutela"><button class="voltar">< Voltar</button></a>
      <!---->

      <!--Explicacao do passo a passo-->
      <section class="doacao-text">
        <h1>DOAÇÃO</h1>
        <p>
          A doação de materiais ortopédicos é um gesto de solidariedade que pode
          transformar a vida de muitas pessoas. Ao doar cadeiras de rodas,
          muletas, andadores ou outros itens ortopédicos, você contribui para a
          mobilidade e a qualidade de vida de quem mais precisa.
        </p>

        <h2>Como funciona?</h2>
        <br />
        <ul class="passos">
          <li>
            <strong>1º - Cadastro de Doadores:</strong> Qualquer pessoa pode se
            cadastrar como doadora em nosso site. É simples e rápido! Basta
            preencher um formulário com suas informações e indicar os materiais
            ortopédicos que deseja doar.
          </li>
          <li>
            <strong>2º - Validação dos Materiais Ortopédicos:</strong> Todos os
            itens doados passam por uma checagem. É fundamental que estejam em
            boas condições de uso, limpos, completos e seguros para
            reutilização.
          </li>
          <li>
            <strong>3º - Conexão com Necessitados:</strong> Após a validação, as
            doações são disponibilizadas em nossa plataforma. Pessoas ou
            instituições que precisam de materiais ortopédicos podem acessar o
            site para encontrar o que está disponível.
          </li>
          <li>
            <strong>4º - Retirada e Entrega:</strong> Organizamos a logística de
            retirada dos materiais doados ou facilitamos a entrega direta aos
            beneficiários. Trabalhamos para que o processo seja ágil, seguro e
            prático para todos.
          </li>
          <li>
            <strong>5º - Acompanhamento e Transparência:</strong> Mantemos um
            canal de comunicação aberto entre doadores, beneficiários e nossa
            equipe. Você pode acompanhar o impacto da sua doação e ver como ela
            fez a diferença na vida de quem mais precisa.
          </li>
        </ul>
      </section>
      <!---->

      <!--Formulario-->
      <form>
        <h1>Formulario</h1>
        <section class="container-form">
          <!--LADO ESQUERDO FORMULARIO-->
          <section class="form-esquerdo">
            <fieldset>
              <legend>1. Dados Pessoais</legend>
              <input
                type="text"
                id="nome"
                name="nome"
                placeholder="Nome completo:"
                required
              />
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Endereço de E-mail:"
                required
              />
              <input
                type="text"
                id="cpf"
                name="cpf"
                placeholder="CPF:"
                required
              />
              <input
                type="text"
                id="telefone"
                name="telefone"
                placeholder="Telefone: (00) 00000-0000"
                required
              />
              <input
                type="date"
                id="data"
                placeholder="Data de nascimento: "
                name="data"
              />
            </fieldset>
            <fieldset>
              <legend>2. Endereço para retirada</legend>
              <input
                type="text"
                id="cep"
                name="cep"
                placeholder="CEP: 0000000-000"
                required
              />

              <article class="inputs-duplos">
                <input
                  type="text"
                  id="estado"
                  name="estado"
                  placeholder="Estado:"
                  required
                />
                <input
                  type="text"
                  id="cidade"
                  name="cidade"
                  placeholder="Cidade:"
                  required
                />
              </article>

              <article class="inputs-duplos">
                <input
                  type="text"
                  id="rua"
                  name="rua"
                  placeholder="Rua:"
                  required
                />
                <input
                  type="text"
                  id="nome"
                  name="nome"
                  placeholder="Nº:"
                  required
                />
              </article>
              <input
                type="text"
                id="Complemento"
                name="Complemento"
                placeholder="Complemento:"
                required
              />
            </fieldset>
          </section>

          <!--FORMULARIO LADO DIREITO-->
          <section class="form-direito">
            <fieldset>
              <legend>3. Informações sobre o item</legend>
              <input
                type="text"
                id="nomeItem"
                name="nomeItem"
                placeholder="O que estou doando? Ex: Muleta e  Cadeira de rodas."
                required
              />
              <label for="imagem">Tire fotos do objeto para analise</label>
              <input
                type="file"
                id="imagem"
                name="imagem"
                accept="image/*"
                required
              />

              <article class="inputs-duplos">
                <input
                  type="number"
                  id="quantidade"
                  name="quantidade"
                  placeholder="Quantidade:"
                  min="1"
                  required
                />

                <select id="condicao" name="condicao" required>
                  <option value="">Condição</option>
                  <option value="novo">Novo</option>
                  <option value="usado">Usado</option>
                  <option value="danificado">Danificado</option>
                </select>
              </article>

              <label for="descricao">Descrição do(s) objeto(s)</label>
              <textarea
                id="descricao"
                name="descricao"
                rows="3"
                placeholder="Ex: Muleta de madeira com pontas pretas em cima. Com alguns desgastes.  "
                required
              ></textarea>
            </fieldset>

            <fieldset>
              <legend>4. Comentarios adicionais (opcional)</legend>
              <textarea
                id="descricao"
                name="descricao"
                rows="3"
                placeholder="Comentários Adicionais: "
                required
              ></textarea>
            </fieldset>

            <section class="botoes">
              <button
                type="button"
                class="cancelar"
                onclick="window.location.href='/listaprodutos'"
              >
                Cancelar
              </button>
              <button
                type="button"
                class="avançar"
                onclick="window.location.href='/listaprodutos'"
              >
                Enviar
              </button>
            </section>
          </section>
        </section>
      </form>
      <!---->
    </main>

    <!--FOOTER-->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
