<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/privacidade.css" />
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
    <title>Loja</title>
  </head>
</html>
<body>
  <%- include('../partials/header.ejs') %>
  <!---->
  <%- include('../partials/menu-inferior.ejs') %>

  <main class="container">
    <!-- Coluna lateral -->
    <aside class="sidebar">
      <h1>Sobre o site</h1>
      <br />
      <ul>
        <li class="active" data-target="duvidas">Dúvidas</li>
        <li data-target="privacidade">Política de Privacidade</li>
        <li data-target="termos">Termos de uso</li>
        <li data-target="acessibilidade">Acessibilidade</li>
        <li data-target="pontos">Healthy Points</li>
        <li data-target="contato">Contato</li>
        <li data-target="sobre">Sobre Nós</li>
      </ul>

      <br />
      <h1>Serviços</h1>
      <br />
      <ul>
        <li data-target="atendimento">Atendimento Online</li>
        <li data-target="doacoes">Doações</li>
        <li data-target="suporte">Suporte</li>
      </ul>
    </aside>

    <!-- Conteudos ao clicar -->
    <section class="content">
      <article id="duvidas" class="content-box active">
        <h2>Dúvidas</h2>
        <p>Como comprar? Aqui explicamos como realizar a compra...</p>
      </article>

      <article id="privacidade" class="content-box">
        <h2>Política de Privacidade</h2>
        <p>Veja como tratamos seus dados e garantimos sua privacidade.</p>
        <p>
          Coleta de Dados: Coletamos apenas as informações necessárias para
          personalizar sua experiência, como nome, e-mail e preferências de
          saúde.
        </p>
        <p>
          Uso dos Dados: Utilizamos os dados para fornecer recomendações
          personalizadas e melhorar nossos serviços. Nunca vendemos suas
          informações a terceiros.
        </p>
        <p>
          Segurança: Utilizamos tecnologia de criptografia para garantir que
          seus dados estejam seguros.
        </p>
        <p>
          Consentimento: Os usuários podem controlar quais informações
          compartilham e solicitar a exclusão de seus dados a qualquer momento.
          Nosso compromisso é garantir que seus dados estejam protegidos e que
          você tenha controle sobre suas informações.
        </p>
        <h1>Avisos importantes</h1>
        <p>
          Os nossos sites são direcionados a maiores de 18 (dezoito) anos. Ao se
          cadastrar na Plataforma de E-commerce, você declara ser maior de 18
          (dezoito) anos. Caso você seja menor de 18 (dezoito) anos, você não
          poderá se cadastrar na Plataforma, pois não coletamos dados, nem mesmo
          para registro de menores.
        </p>
      </article>

      <article id="termos" class="content-box">
        <h2>Termos de uso</h2>
        <p>.....</p>
      </article>

      <article id="acessibilidade" class="content-box">
        <h2>Acessibilidade</h2>
        <p>No Healthy Safely priorizamos.....</p>
      </article>

      <article id="pontos" class="content-box">
        <h2>O que é o Healthy Points?</h2>
        <p>
          O Healthy Points é um programa de fidelidade da Healthy Safely que
          permite aos usuários ganharem pontos ao usar produtos e serviços da
          empresa, como em tarefas e compra de produtos do site. Esses pontos
          podem ser gastos utilizando em produtos da nossa loja para diminuir os
          preços ou até mesmo ganhar um produto gratuitamente. Promoções
          Especiais: Periodicamente,aparecerá promoções que permitem ganhar
          pontos extras. Os usuários podem acessar a página LOJA para visualizar
          as opções disponíveis para utiliza-los. Conclusão: O Healthy Points é
          uma maneira divertida e recompensadora de interagir com os produtos da
          loja. Ao acumular pontos através de atividades diárias e uso dos
          serviços, os usuários podem desfrutar de diversas ofertas. É uma
          excelente forma de obter benefícios extras enquanto navega, conversa
          ou utiliza ferramentas do dia a dia!
        </p>
      </article>

      <article id="contato" class="content-box">
        <h2>Contato</h2>
        <p>11 99999-9999 ......</p>
      </article>

      <article id="sobre" class="content-box">
        <h2>Sobre nós</h2>
        <p>O Healthy Safely é uma .....</p>
      </article>

      <article id="atendimento" class="content-box">
        <h2>Atendimento Online</h2>
        <p>Nosso atendimento online funciona......</p>
      </article>

      <article id="doacoes" class="content-box">
        <h2>Doações</h2>
        <p>O sistema de doação do healthy safely......</p>
      </article>

      <article id="suporte" class="content-box">
        <h2>Suporte</h2>
        <p>Teve algum problema? aqui ajudamos vc....</p>
      </article>
    </section>
  </main>

  <script>
    const menuItems = document.querySelectorAll(".sidebar li");
    const contentBoxes = document.querySelectorAll(".content-box");

    menuItems.forEach((item) => {
      item.addEventListener("click", () => {
        menuItems.forEach((i) => i.classList.remove("active"));
        item.classList.add("active");

        contentBoxes.forEach((box) => box.classList.remove("active"));

        const targetId = item.getAttribute("data-target");
        document.getElementById(targetId).classList.add("active");
      });
    });
  </script>
  <%- include('../partials/footer.ejs')%>
</body>
