<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healthy Safely</title>
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
    <link rel="stylesheet" href="../css/perfil-content.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>

    <main>
      <section class="container">
         <a href="/perfil"><button class="botao-prev">&#10094;</button></a>
        <!-- PERFIL -->
        <%- include('../partials/perfil-info') %>

        <!-- IDENTIDADE -->
        <section aria-labelledby="titulo-identidade">
        <h2 class="titulo-identidade" id="titulo-identidade">
            Meus cupons
          </h2>
          <div class="centro-modal">
            <h2>Você não tem nenhum cupom no momento. Visite <a href="#">cupons</a> e resgate!</h2>
          </div>
        </section>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
