<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healthy Safely</title>
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
    <link rel="stylesheet" href="../css/perfil-content.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>

    <main>
      <section class="container">
        <a href="/perfil"><button class="voltar">< Voltar</button></a>
        <!-- PERFIL -->
        <%- include('../partials/perfil-info') %>

        <!-- IDENTIDADE -->
        <section aria-labelledby="titulo-identidade">
          <h2 class="titulo-identidade" id="titulo-identidade">
            Minhas consultas
          </h2>

          <div class="consulta-escolhida">
            <div class="info">
              <!-- Ícone -->
              <div class="icone">
                <img
                  src="../imagem/ortopedista.png"
                  width="50"
                  height="50"
                  alt="Ícone especialista"
                />
              </div>

              <!-- Dados do médico -->
              <div class="detalhes">
                <h3>Dr. Alison <span>(Nutricionista)</span></h3>
                <p class="horario">Horário: 16h00 — 04/04/2048</p>
              </div>

              <!-- Preço -->
              <div class="preco">
                <p class="valor">R$ 100,00</p>
                <p class="parcelado">ou 2x de <strong>R$ 49,99</strong></p>
              </div>
            </div>
            <div class="finalizada-chat">
              <button class="andamento">em andamento</button>
              <button
                class="chat"
                onclick="window.location.href=`/orientacoes`"
              >
                chat
              </button>
            </div>
          </div>

          <div class="consulta-escolhida">
            <div class="info">
              <!-- Ícone -->
              <div class="icone">
                <img
                  src="../imagem/ortopedista.png"
                  width="50"
                  height="50"
                  alt="Ícone especialista"
                />
              </div>

              <!-- Dados do médico -->
              <div class="detalhes">
                <h3>Dr. Mauricio <span>(Nutricionista)</span></h3>
                <p class="horario">Horário: 16h00 — 04/04/2048</p>
              </div>

              <!-- Preço -->
              <div class="preco">
                <p class="valor">R$ 100,00</p>
                <p class="parcelado">ou 2x de <strong>R$ 49,99</strong></p>
              </div>
            </div>
            <div class="finalizada-chat">
              <button class="finalizada">finalizada</button>
              <button class="chat">chat</button>
            </div>
          </div>
        </section>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
