<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healthy Safely</title>
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
    <link rel="stylesheet" href="../css/perfil.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>
    <main>
      <section class="container">
        <!--PERFIL DO USUARIO-->
        <%- include('../partials/perfil-info') %>

        <!--HEALTHY POINTS-->
        <section>
          <section class="healthy-points">
            <h1 class="titulo-info">
              Healthy Points totais<a href="/informacoes"
                ><i class="bi bi-info-circle"></i
              ></a>
            </h1>
            <article>
              <h2>
                <img
                  src="../imagem/PONTUAÇÃO HEALTHY POINS.svg"
                  height="30px"
                />0
              </h2>
            </article>

            <article>
              Visite nossa <a href="/loja">Loja</a> para trocar seus pontos por
              descontos!
            </article>
          </section>
        </section>

        <!--BOTÕES DE ACESSO NA CONTA-->
        <nav class="botoes-acesso">
          <h1>Gerenciar conta</h1>

          <!-- MINHA IDENTIDADE-->
          <button onclick="window.location.href=`/minhaidentidade`">
            <i class="bi bi-key"></i>
            Informações de Identidade
          </button>

          <!-- MINHAS CONSULTAS-->
          <button onclick="window.location.href=`/minhasconsultas`">
            <i class="bi bi-calendar-check"></i> Minhas consultas
          </button>

          <!-- MEUS PEDIDOS -->
          <button onclick="window.location.href=`/meuspedidos`">
            <i class="bi bi-box-seam"></i>Meus pedidos
          </button>

          <!-- MEUS FAVORITOS-->
          <button onclick="window.location.href=`/meusfavoritos`">
            <i class="bi bi-heart-fill"></i>Meus favoritos
          </button>

          <!-- MEUS CUPONS-->
          <button onclick="window.location.href=`/meuscupons`">
            <i class="bi bi-ticket-perforated"></i>Meus cupons
          </button>

          <!-- MINHAS DOAÇÕES -->
          <button onclick="window.location.href=`/minhasdoacoes`">
            <i class="bi bi-heart"></i> Minhas doações
          </button>

          <!-- MEUS PAGAMENTOS-->
          <button onclick="window.location.href=`/meuspagamentos`">
            <i class="bi bi-credit-card"></i><span>Pagamentos</span>
          </button>

          <!-- SUPORTE-->
          <button onclick="window.location.href=`/suporte`">
            <i class="bi bi-life-preserver"></i><span>Suporte</span>
          </button>

          <!-- SAIR DA CONTA-->
          <a href="/logout">
            <button onclick="window.location.href=`/#`">
              <i class="bi bi-box-arrow-right"></i
              ><span class="sair">Mudar de conta / Sair</span>
            </button></a
          >
        </nav>
        <!--FIM DOS BOTOES DE ACESSO-->
      </section>
    </main>

    <!--FOOTER-->
    <%- include('../partials/footer.ejs') %>
    <!---->
  </body>
</html>
