<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarefas</title>
    <link rel="stylesheet" href="../css/tarefas.css" />
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>

    <section class="bannerdetarefa">
      <img
        src="../imagem/tarefa.png"
        alt="tarefasbanner"
        class="confiratarefas"
      />
    </section>

     <section class="placar">
    <h2>SEUS PONTOS DESSE MÊS</h2>

    <article class="tabela">
      <table>
        <thead>
          <tr>
            <th>TÓPICOS</th>
            <th>PONTOS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>🌀 TAREFAS DIÁRIAS</td>
            <td>105 PTS</td>
          </tr>
          <tr>
            <td>👍 CONTRIBUIÇÃO PARA O SITE</td>
            <td>85 PTS</td>
          </tr>
          <tr>
            <td>🏆 TAREFAS COMPETITIVAS</td>
            <td>126 PTS</td>
          </tr>
          <tr>
            <td>⭐ FIDELIDADE E CONSTÂNCIA</td>
            <td>89 PTS</td>
          </tr>
          <tr>
            <td>🛒 QUANTIDADE DE COMPRAS</td>
            <td>67 PTS</td>
          </tr>
          <tr>
            <td>👩‍⚕️ QUANTIDADE DE CONSULTAS</td>
            <td>133 PTS</td>
          </tr>
        </tbody>
      </table>
    </article>

    <article class="rodape-pontos">
      <img src="../imagem/a.png" alt="Moedinha" class="moeda">
      <span><strong>HEALTHY POINTS totais:</strong></span>
      <span class="numero-total">605</span>
    </article>
  </section>
  
    <main class="tarefassas">
      <section class="suastarefas">
        <h1 class="st">SUAS TAREFAS</h1>
      </section>
            
        
         
        </div>
      </section>

      
    </main>
    <section class="tarefas-container">
      <section class="blocodetarefas">
        <section class="iconestarefas">
          <article class="sono">
            <a href="sono"
              ><img src="../imagem/sono.png" alt="tarefinhas" class="tarefão" />
              <h3 class="ltn_saude">SONO</h3>
            </a>
          </article>
          <article class="saudemental">
            <a href="saudemen"
              ><img
                src="../imagem/saudemental.png"
                alt="tarefinhas"
                class="tarefão"
              />
              <h3 class="ltn_saude">SAUDE MENTAL</h3></a
            >
          </article>
          <article class="atividadefisica">
            <a href="atividadefis"
              ><img src="../imagem/atf.png" alt="tarefinhas" class="tarefão" />
              <h3 class="ltn_saude">ATIVIDADE FISÍCA</h3></a
            >
          </article>
          <article class="alimenacao">
            <a href="alimentacao">
              <img
                src="../imagem/alimentacao.png"
                alt="tarefinhas"
                class="tarefão"
              />
              <a href="#"></a>
              <h3 class="ltn_saude">ALIMENTAÇÃO</h3></a
            >
          </article>
        </section>
        <article class="outros">
          <a href="#"
            ><img src="../imagem/outros.png" alt="tarefinhas" class="tarefão" />
            <h3 class="ltn_saude">OUTROS</h3></a
          >
        </article>
      </section>
    </section>
    <section class="footer"><%- include('../partials/footer.ejs') %></section>
  </body>
</html>
