<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/footer.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
/>

<footer class="footer">
  <section class="footer-grid">
    <!-- Coluna 1 -->
    <article class="footer-col">
      <img
        src="../imagem/1x/logozeko.png"
        alt="Logo Healthy Safely"
        class="footer-logo"
      />

      <button class="footer-btn" onclick="location.href='#'">
        Fale Conosco
      </button>

      <div class="footer-social">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-twitter-x"></i></a>
        <a href="#"><i class="bi bi-youtube"></i></a>
      </div>
    </article>

    <!-- Coluna 2 -->
    <section class="footer-duas-colunas">
      <article class="footer-col">
        <h2>Serviços</h2>
        <ul>
          <li><a href="/informacoes">Atendimento Online</a></li>
          <li><a href="/informacoes">Suporte</a></li>
        </ul>
      </article>

      <!-- Coluna 3 -->
      <article class="footer-col">
        <h2>Sobre o site</h2>
        <ul>
          <li><a href="/informacoes">Dúvidas</a></li>
          <li><a href="/informacoes">Política de Privacidade</a></li>
          <li><a href="/informacoes">Termos de uso</a></li>
          <li><a href="/informacoes">Acessibilidade</a></li>
          <li><a href="/informacoes">Contato</a></li>
          <li><a href="/informacoes">Sobre nós</a></li>
        </ul>
      </article>
    </section>
  </section>

  <!-- Rodapé inferior -->
  <section class="footer-bottom">
    <p>Todos os direitos reservados</p>
    <p>©2025 Healthy Safely - Saúde e bem-estar</p>
  </section>
</footer>
