* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #092520;
}
main {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

/* LADO ESQUERDO */
.lado-esquerdo {
  width: 50%;
  background-color: #ffffff;
}

/* LADO DIREITO */
.lado-direito {
  width: 50%;
  background-color: #092520;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTAINER PRINCIPAL */
.container {
  width: 100%;
  padding: 20px;
}
.quadrado {
  background-color: rgb(241, 234, 234);
  border-radius: 8px;
  box-shadow: 0 4px 8px gray;
  padding: 20px;
  max-width: 340px;
  width: 90%;
  margin: 0 auto;
}

/* BOTÕES */
.google,
.juntar {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: rgba(9, 47, 39, 1);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
button:hover {
  background-color: rgba(18, 94, 77, 0.9);
}

/* IMAGEM GOOGLE */
.googleimg {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* FORMULÁRIO INTERNO */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin-top: 25px;
}
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 25px;
}
.erro {
  border: 2px solid red;
}
span.msgErro {
  color: red;
  font-size: 0.9em;
  margin-left: 10px;
}
.login {
  font-size: smaller;
  text-align: end;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* RESPONSIVIDADE */
@media (max-width: 900px) {
  main {
    flex-direction: column;
  }

  .lado-esquerdo,
  .lado-direito {
    width: 100%;
  }

  .quadrado {
    max-width: 95vw;
    padding: 14px;
    margin: 30px auto;
  }

  .banner {
    height: 80vh;
  }
}
@media (max-width: 600px) {
  .quadrado {
    padding: 8px;
    font-size: 13px;
    margin: 10px auto;
  }

  button {
    font-size: 13px;
  }

  .banner {
    height: 40vh;
    min-height: 200px;
    background-position: center top;
  }
}
