.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

h2 {
  color: black;
}
/* Oculta o modal inicialmente */
.hidden {
  display: none;
}

/* Conteúdo do modal */
.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}

/* Botão de fechar */
.modal .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  line-height: 1;
  font-family: Arial, sans-serif;
  color: #333;
  cursor: pointer;
  z-index: 1001;
}
/* Botões de escolha */
.opcoes-cadastro {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-cadastro {
  background: #3ca68a;
  color: white;
  padding: 0.75rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-cadastro:hover {
  background: #318f75;
}
