html , body {
    background-color: #065747 !important;
}

.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tarefa-container {
    display: flex;
    background-color: #0E3931;
    width: 70%;
    height: 700px;
    margin-top: 0; 
}

.lua img {
    width: 80px;
    height: 80px;
    margin-left: 85px;
    margin-top: 50px;
}

h3 {
    font-size: 3.5em;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
   
}
 
   


.footer{
        margin-top: 20px;
}