body {
    background-color: #013220;
    color: #013220;
}

h1 {
    color: #013220;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.tarefa {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.tarefa h2 {
    color: #013220;
}

.tarefa p {
    color: #333;
}

.tarefa button {
    background-color: #013220;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
.tarefa button:hover {
    background-color: #014d40;
}

.bannerdetarefa {
    margin-top: 30px;
}
    
.confiratarefas {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 19px;
}
.tarefassas{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.suastarefas {
    text-align: center;
    background-color: #013220;
    padding: 5px 10px;
    width: 1200px;
}

.st {
    color: white;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tarefas-container {
    display: flex;
    justify-content: center;
}

.blocodetarefas {
  background-color: #014638;
  width: 1200px;
  padding: 5px 10px;
  
}

.tarefão {
    width: 15%;
    height: auto;
    display: block;
    
}