<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda | Sua Área Profissional</title>
    <link rel="stylesheet" href="/css/profissional/agenda.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <%- include("../../partials/header") %>
    <!---->
    <%- include('../../partials/menu-inferior.ejs') %>

    <div class="admin-container">
      <!-- SIDEBAR -->
      <%- include('../../partials/adm/sidebar-profissional.ejs') %>

      <!-- MAIN -->
      <main class="admin-main">
        <!-- AGENDA / CONSULTAS -->
        <h1>Agenda</h1>
        <section class="consultas-section">
          <div class="lista-consultas">
            <div class="consulta-card">
              <img src="../imagem/image copy 2.png" alt="Cliente" />
              <h3>Igor Andrade</h3>
              <div class="consulta-info">
                <p><strong>Data: 15/10</strong></p>
                <p><strong>Hora: 10:00</strong></p>
                <p><strong>Status: </strong>Disponível</p>
              </div>
              <button class="btn-bloquear">Bloquear horário</button>
              <button class="btn-ver">Ver detalhes</button>
            </div>

            <div class="consulta-card">
              <img src="../imagem/image copy.png" alt="Cliente" />
              <h3>Marcos Gabriel</h3>
              <div class="consulta-info">
                <p><strong>Data: 15/10</strong></p>
                <p><strong>Hora: 11:30</strong></p>
                <p><strong>Status: </strong>Concluída</p>
              </div>
              <button class="btn-concluida">Concluída</button>
              <button class="btn-ver">Ver detalhes</button>
            </div>
          </div>
        </section>
      </main>
    </div>

    <%- include("../../partials/footer") %>
  </body>
</html>
