<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avaliações | Área Profissional</title>
    <link rel="stylesheet" href="../css/profissional/avaliacoes2.css" />
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
  </head>
  <body>
    <%- include("../../partials/header") %>
    <!---->
    <%- include('../../partials/menu-inferior.ejs') %>

    <div class="admin-container">
      <!-- SIDEBAR -->
      <%- include('../../partials/adm/sidebar-profissional.ejs') %>

      <!-- MAIN -->
      <main class="admin-main">
        <!-- CABEÇALHO PROFISSIONAL -->
        <h1>Avaliações</h1>

        <!-- AVALIAÇÕES -->
        <section class="avaliacoes-lista">
          <!-- Exemplo de avaliação -->
          <article class="avaliacao-card">
            <div class="avaliacao-header">
              <div class="perfilzinho">
                <img src="../imagem/mateusmidia.jpg" alt="User Icon" />
                <h2 class="cliente-nome">Mateus Felipe</h2>
              </div>
              <span class="avaliacao-data">05/10/2025</span>
            </div>

            <p class="avaliacao-texto">
              Ótimo profissional, muito atencioso e competente. Recomendo!
            </p>

            <div class="avaliacao-nota">
              <span class="estrela">★</span>
              <span class="estrela">★</span>
              <span class="estrela">★</span>
              <span class="estrela">★</span>
              <span class="estrela">★</span>
            </div>

            <div class="avaliacao-acoes">
              <button class="btn-responder">Responder</button>
            </div>
          </article>

          <!-- Outro exemplo -->
          <article class="avaliacao-card">
            <div class="avaliacao-header">
              <div class="perfilzinho">
                <img src="../imagem/image copy.png" alt="User Icon" />
                <h2 class="cliente-nome">Marcos Gabriel</h2>
              </div>
              <span class="avaliacao-data">07/10/2025</span>
            </div>

            <p class="avaliacao-texto">
              Atendimento excelente, me senti muito acolhido durante a consulta.
            </p>
            <div class="avaliacao-nota">
              <span class="estrela">★</span>
              <span class="estrela">★</span>
              <span class="estrela">★</span>
              <span class="estrela">★</span>
              <span class="estrela">★</span>
            </div>
            <div class="avaliacao-acoes">
              <button class="btn-responder">Responder</button>
            </div>
          </article>
        </section>
      </main>
    </div>

    <%- include("../../partials/footer") %>
  </body>
</html>
