<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desempenho Profissional | Área Profissional</title>
    <link rel="stylesheet" href="../css/profissional/painel-financeiro.css" />
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
  </head>
  <body>
    <%- include("../../partials/header") %>
    <!---->
    <%- include('../../partials/menu-inferior.ejs') %>

    <div class="admin-container">
      <!-- SIDEBAR -->
      <%- include('../../partials/adm/sidebar-profissional.ejs') %>

      <!-- MAIN -->
      <main class="admin-main">
        <!-- CABEÇALHO PROFISSIONAL -->
        <h1>Painel Financeiro</h1>
        <!-- RESUMO DE DESEMPENHO -->
        <section class="resumo-desempenho">
          <div class="card">
            <h3><i class="fa-solid fa-money-bill-wave"></i> Ganhos Totais</h3>
            <p class="valor">R$ 4.250,00</p>
          </div>

          <div class="card">
            <h3><i class="fa-solid fa-user-check"></i> Pacientes Atendidos</h3>
            <p class="valor">38</p>
          </div>

          <div class="card">
            <h3>
              <i class="fa-solid fa-calendar-check"></i> Consultas Realizadas
            </h3>
            <p class="valor">54</p>
          </div>

          <div class="card">
            <h3><i class="fa-solid fa-clock"></i> Consultas Futuras</h3>
            <p class="valor">7</p>
          </div>
        </section>

        <!-- HISTÓRICO DE CONSULTAS -->
        <section class="historico-section">
          <h2>Histórico de Consultas Recentes</h2>

          <div class="tabela-container">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Paciente</th>
                  <th>Data</th>
                  <th>Serviço</th>
                  <th>Valor</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#003</td>
                  <td>Kauã Mauricio</td>
                  <td>12/10/2025</td>
                  <td>Consulta de Retorno</td>
                  <td>R$ 100,00</td>
                  <td class="status-concluido">Concluído</td>
                </tr>
                <tr>
                  <td>#002</td>
                  <td>Daniel Renovato</td>
                  <td>10/10/2025</td>
                  <td>Consulta Nutricional</td>
                  <td>R$ 120,00</td>
                  <td class="status-concluido">Concluído</td>
                </tr>

                <tr>
                  <td>#001</td>
                  <td>Mateus Felipe</td>
                  <td>16/10/2025</td>
                  <td>Avaliação Física</td>
                  <td>R$ 80,00</td>
                  <td class="status-concluido">Concluído</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </main>
    </div>

    <%- include("../../partials/footer") %>
  </body>
</html>
