footer {
    background-color: #013220; /* verde escuro */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: Arial, sans-serif;
  }