/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* ================= CONTAINER PRINCIPAL ================= */
.admin-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* ================= MAIN ================= */
.admin-main {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ================= PERFIL PROFISSIONAL ================= */

/* FOTO E INFORMAÇÕES */
.foto-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #e3f0ec;
  padding: 15px;
  border-radius: 12px;
}
.foto-container img {
  background: #00594c;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}
.foto-container h1 {
  font-size: 24px;
  color: #00594c;
}

/* DESCRIÇÃO */
.descricao-profissional {
  background-color: #f0fdf8;
  padding: 15px;
  border-radius: 12px;
  font-size: 16px;
  color: #20413b;
}

/* INFORMAÇÕES ADICIONAIS */
.info-profissional {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.info-profissional label {
  font-weight: 600;
  color: #555;
}
.info-profissional input,
.info-profissional textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  resize: none;
}
.info-profissional input:focus,
.info-profissional textarea:focus {
  border-color: #00594c;
  outline: none;
}

label {
  font-weight: 600;
  color: #555;
}
input,
textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  resize: none;
}
input:focus,
textarea:focus {
  border-color: #00594c;
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.btn-salvar {
  background-color: #0c4f43;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

/* ================= RESPONSIVIDADE ================= */
@media (max-width: 1024px) {
  .admin-container {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .admin-container {
    flex-direction: column;
  }
  .admin-sidebar {
    flex-direction: row;
    overflow-x: auto;
    padding: 10px;
    border-radius: 0;
  }
}
